<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Preclinic - Medical & Hospital - Bootstrap 4 Admin Template</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="/assets/js/html5shiv.min.js"></script>
		<script src="/assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
  
    <div class="main-wrapper">
        <%- include('./view-partials/header') -%>
        <%- include('./view-partials/sidebar') %>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Resource Requests</h4>
                    </div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <a href="/appointment/add_appointment" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Appointment</a>
                    </div>
                </div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-striped custom-table">
								<thead>
									<tr>
										<th>Request ID</th>
										<th>Room no</th>
										<th>Resource ID</th>
										<th>Student ID</th>
										
										<th>Quantity</th>
										<th>Status</th>
                                        <th>Request Date</th>
										<th class="text-right">Action</th>
									</tr>
								</thead>
								<tbody>
                                    <% for (var i = 0; i < list.length; i++){ %>
									<tr>
										<td><%= list[i].request_id %></td>
										
										<td><%= list[i].room_no %></td>
										<td><%= list[i].resource_id%></td>
										<td><%= list[i].student_id%></td>
										<td><%= list[i].quantity %></td>
                                        <td><%= list[i].status %></td>

                                        <td><%= list[i].request_date.toString().slice(0, 15) %></td>
                    
										
										<td class="text-right">
											<div class="dropdown dropdown-action">
												<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="/appointment/edit_appointment/<%= list[i].request_id %>"><i class="fa fa-pencil m-r-5"></i> Edit</a>
													<a class="dropdown-item" href="/appointment/delete_appointment/<%= list[i].request_id %>"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
													<a class="dropdown-item" href="/appointment/approve_request/<%= list[i].request_id %>"><i class=""></i>✔️ Approve</a>
													<a class="dropdown-item" href="/appointment/reject_request/<%= list[i].request_id %>"><i class=""></i>✖️ Reject</a>
												</div>
											</div>
                                        </td>
                                        <% } %>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
                </div>
            </div>
            
			<div id="delete_appointment" class="modal fade delete-modal" role="dialog">
                <% for (var i = 0; i < list.length; i++){ %>
                    <form action="/appointment/delete_appointment/<%=list[i].id%>" method="POST">
                        <% } %>
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-body text-center">
							<img src="assets/img/sent.png" alt="" width="50" height="46">
							<h3>Are you sure want to delete this Appointment?</h3>
							<div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
								<button type="submit" class="btn btn-danger">Delete</button>
							</div>
						</div>
					</div>
                </div>
            </form>
			</div>
		</div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/app.js"></script>
	<script>
            $(function () {
                $('#datetimepicker3').datetimepicker({
                    format: 'LT'
                });
				$('#datetimepicker4').datetimepicker({
                    format: 'LT'
                });
            });
     </script>
</body>


<!-- appointments23:20-->
</html>