<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Preclinic</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="/assets/js/html5shiv.min.js"></script>
		<script src="/assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
    <div class="main-wrapper">
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Edit Quantity</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <% for (var i = 0; i < list.length; i++){ %>
                        <form method="POST" action="/store/edit_med/<%= resource_id %>">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                       
                                        <label>Editing Quantity for <%= list[i].resource_name %></label>
                                        <input class="form-control" type="text" name="name" value="<%= list[i].resource_name %>" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Price</label>
                                        <input class="form-control" type="text"name="price" value="<%= list[i].price %>">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Quantity</label>
                                        <input class="form-control" type="text"name="quantity" value="<%= list[i].quantity %>">
                                    </div>
                                </div>
                                
                               
                               
                            </div>
                            
<!--NIGAAAAAAAAAAAAAAAAA STOAPPAPAAP-->
                                <div class="m-t-20 text-center">
                                    <!-- Edit Resource Button -->
                                    <form action="/edit_med/<%= resource_id %>" method="POST">
                                        <button type="submit" class="btn btn-primary submit-btn">EDIT RESOURCE</button>
                                    </form>
                                </div>

                                <div class="m-t-20 text-center">
                                    <!-- Delete Resource Button -->
                                    <form action="/store/edit_med/delete/<%= resource_id %>" method="POST" onsubmit="return confirm('Are you sure you want to delete this resource?');">
                                        <button type="submit" class="btn btn-danger submit-btn">DELETE RESOURCE</button>
                                    </form>
                                </div>

                            <% } %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
     <script src="/assets/js/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/select2.min.js"></script>
	<script src="/assets/js/moment.min.js"></script>
	<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/assets/js/app.js"></script>
</body>


<!-- add-asset24:09-->
</html>