<!DOCTYPE html>
<html lang="en">
<%- include('view-partials/head') %>

<body>
  
    <div class="main-wrapper">
        <%- include('./view-partials/header') %>
        <%- include('./view-partials/sidebar') %>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Maintenance Log</h4>
                    </div>

                </div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-striped custom-table">
								<thead>
									<tr>
										<th>Log ID</th>
										<th>Student ID</th>
										<th>Request ID</th>
										<th>Date Logged</th>
										
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
                                    <% for (var i = 0; i < list.length; i++){ %>
									<tr>
										<td><%= list[i].log_id %></td>
										<td><%= list[i].student_id %></td>
										<td><%= list[i].request_id %></td>
										<td><%= list[i].date_completed.toString().slice(0, 15) %></td>
                                        <td><%= list[i].action_type %></td>

                                        <% } %>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
                </div>
            </div>
            
			<div id="deleteRequest" class="modal fade delete-modal" role="dialog">
                <% for (var i = 0; i < list.length; i++){ %>
                    <form action="/appointment/deleteRequest/<%=list[i].id%>" method="POST">
                        <% } %>
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-body text-center">
							<img src="assets/img/sent.png" alt="" width="50" height="46">
							<h3>Are you sure want to delete this Appointment?</h3>
							<div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
								<button type="submit" class="btn btn-danger">Delete</button>
							</div>
						</div>
					</div>
                </div>
            </form>
			</div>
		</div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/app.js"></script>
	<script>
            $(function () {
                $('#datetimepicker3').datetimepicker({
                    format: 'LT'
                });
				$('#datetimepicker4').datetimepicker({
                    format: 'LT'
                });
            });
     </script>
</body>


<!-- appointments23:20-->
</html>