<!DOCTYPE html>
<html lang="en">

<%- include('view-partials/head') %>

<body>

  
    <div class="main-wrapper">
        
        <%- include('view-partials/header') %>
        <%- include('view-partials/sidebar') %>

        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-8 col-6">
                        <h4 class="page-title">Resource </h4>
                    </div>
                    <div class="col-sm-4 col-6 text-right m-b-30">
                        <a href="/store/add_med" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i>Add New Item</a>
                    </div>
                    
                </div>
                <div class="row">   
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table mb-0 datatable">
                                <thead>
                                    <tr class="text-center">
                                        <th class="text-center">Resource ID</th>
                                        <th class="text-center">Resource Name</th>
                                        <th class="text-center">Last Purchase Date</th>
                                        <th class="text-center">Price</th>
                                        <th class="text-center">Quantity</th>
                                        <th class="text-center">Edit/Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(list && list.length>0) {%>
                                    <% for (var i = list.length - 1; i >= 0; i--) { %>
                                    <tr class="text-center">
                                        
                                        <td >
                                            <strong> <%= list[i].resource_id %> </strong>
                                        </td>
                                        <td><%= list[i].resource_name %></td>
                                        <td>
                                            <% list[i].p_date
                                                var date = new Date(list[i].p_date);
                                                var formattedDate = date.getFullYear() + '-' + String(date.getMonth() + 1).padStart(2, '0') + '-' + String(date.getDate()).padStart(2, '0');
                                            %>
                                            <%= formattedDate %>
                                        </td>
                                        
                                        <td><%= list[i].price %></td>
                                        <td >
                                            <%= list[i].quantity %>
                                        </td>
                                        <td class="text-center">
                                            <a href="/store/edit_med/<%=list[i].resource_id %>"><i class="fa fa-pencil m-r-5"></i></a>
                                        </td>
                                        <% } %>
                                        <% } %>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.dataTables.min.js"></script>
    <script src="assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>